.landing {
  background: #1e233e;
  min-height: 100vh;
}

.header {
  display: flex;
  /* width: 1543px; */
  height: 90px;
  padding: 5px 98px;
  align-items: center;
  justify-content: space-between;
  /* gap: 286px; */
  flex-shrink: 0;
  border-radius: 70px;
  background: var(--gray-2, #fafafa);
  margin: 44px 92px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo_title {
  text-align: center;
  font-family: "League Spartan";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: black;
}
/* Navigation */
.nav {
  display: flex;
  width: 477px;
  height: 60px;
  padding: 16px 13px;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(205, 184, 118, 0.55);
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  /* gap: 30px; */
}

.nav_item {
  color: var(--Text-Heading-color, #1f1f1f);
  /* 07 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
}

.num_contact {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Hero Section */
.hero {
  height: 80vh;
  /* border-radius: 15px; */
  background: url("/hero_apartment.jpg"),
    linear-gradient(90deg, #141e30 0%, #243b55 44.23%),
    lightgray 3.077px -357.282px / 100% 223.663% no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hero-title {
  color: #cdb876;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 80.4px */
}

.hero-description {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 28.8px */
}

.book_btn {
  border-radius: 48px;
  background: #d9d9d9;
  padding: 16px 48px;
  font-family: "Poppins";
  line-height: 120%; /* 19.2px */
  color: black;
  border: none;
  cursor: pointer;
}

.slider {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 76px;
  height: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.slide_item {
  min-width: 22px;
  height: 4px;
  border-radius: 2px;
  background: #ffffff;
}

.active_item {
  width: 32px;
}

.btn-primary {
  background-color: #cdb876;
  color: #1e233e;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #b8a566;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Services Section */
.services {
  padding: 80px 0;
}

.services-title {
  align-self: stretch;
  color: #fffdfd;
  text-align: center;
  font-family: "Cinzel Decorative";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  margin-bottom: 60px;
}

.services-list {
  display: flex;
  justify-content: center;
}

.service-item {
  text-align: center;
  padding: 30px 20px;
}

.service-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #cdb876;
}

.icone {
  width: inherit;
  height: inherit;
}

.text-icon {
  color: #fffdfd;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
}

/* Projects Section */
.projects {
  padding: 80px 0;
  position: relative;
}

.projects-title {
  color: #fffdfd;
  text-align: center;
  font-family: "Cinzel Decorative";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  margin-bottom: 60px;
}

.pagination-dots {
  position: absolute;
}

.projects-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-card {
  width: 447px;
  height: 438px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 0.1px solid #cdb876;
  opacity: 0.45;
  z-index: 80;
  /* background: #FEFEFF; */
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 100%;
  height: 263px;
  flex-shrink: 0;
  border-radius: 14px 14px 0px 0px;
  /* background: linear-gradient(
    116deg,
    rgba(193, 222, 232, 0.7) 9.86%,
    rgba(255, 255, 255, 0) 52.13%,
    rgba(251, 217, 185, 0.7) 97.99%
  ); */
  object-fit: cover;
}

.project-overlay {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 10px 20px;
  color: #ffffff;
  font-family: Poppins;
  height: 100%;
  gap: 20px;
}

.project-title {
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 25.2px */
}

.project-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #cdb876;
  margin-top: 10px;
}

.rating-value {
  color: #ffffff;
}

/* Featured Villa Section */
.featured-villa {
  padding: 80px 0;
  display: flex;
  gap: 45px;
  justify-content: center;
  margin-inline: 92px;
}

.villa-image {
  width: 567px;
  height: 584px;
  object-fit: cover;
  border-radius: 15px;
}

.villa-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.villa-title {
  color: #cdb876;
  font-family: Cinzel;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
}

.villa-description {
  color: rgba(217, 217, 217, 0.83);
  font-family: "Libre Caslon Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}

.villa-features {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row-reverse;
  color: #cdb876;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}

.feature-icon {
  width: 40px;
  height: 40px;
}

.decoration-container {
  display: flex;
  justify-content: center;
  margin-inline: auto;
}

/* Company Section */
.company {
  padding: 80px 70px;
}

.company-title {
  color: #fffdfd;
  text-align: center;
  font-family: "Cinzel Decorative";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  margin-bottom: 60px;
}

.company-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.company-content {
  min-height: 511px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 30px; */
}

.company-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.company-section-title {
  color: #fffdfd;
  font-family: Cinzel;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 45.6px */
}

.company-description {
  color: #fffdfd;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 30px;
}

.company-buttons {
  display: flex;
  gap: 20px;
}

.custom-button {
  display: flex;
  width: 196.973px;
  height: 68.735px;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #aeaeae;
  background: #fefeff;
  color: #1f1f1f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  cursor: pointer;
}

.dark-btn {
  background: #1f1f1f;
  border: none;
  color: #fefeff;
}

.stats {
  display: flex;
  gap: 40px;
  justify-content: start;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stat-number {
  color: #fffdfd;
  font-family: Poppins;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 80.4px */
}

.stat-label {
  color: #fffdfd;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.company-image {
  width: 544px;
  height: 511px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 15px;
}

/* Contact Section */
.contact {
  padding: 80px 0;
}

.contact-title {
  text-align: center;
  color: #fff;
  font-family: "Cinzel Decorative";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 60px;
}

.contact-container {
  display: flex;
  width: 1076px;
  gap: 40px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 40px;
  margin-inline: auto;
}

.contact-image {
  width: 300px;
  /* height: 367px; */
  object-fit: cover;
  border-radius: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
.contact-form-title {
  overflow: hidden;
  color: #ffffff;
  text-overflow: ellipsis;
  font-family: "Abhaya Libre";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-form-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.select-row {
  flex-direction: column;
}

option {
  background-color: #1e233e;
  color: #ffffff;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-family: "Abhaya Libre SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  font-size: 14px;
}

/* Map Section */
.location {
  padding: 80px 0 0;
}

.location-title {
  text-align: center;
  color: #fff;
  font-family: "Cinzel Decorative";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 60px;
}

.map-image {
  width: 100%;
  height: 512px;
  object-fit: cover;
}

/* Footer */
.footer {
  padding: 60px 0 30px;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  margin-bottom: 40px;
  margin-inline: auto;
  width: 90%;
}

.connect-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-description {
  color: #797b78;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 400px;
  text-align: start;
}

.footer-section a:hover {
  color: #cdb876;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-link {
  width: 48px;
  height: 48px;
  background-color: #cdb876;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e233e;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-link:hover {
  background-color: #ffffff;
  transform: translateY(-2px);
}
.social-link svg{
  width: 32px;
  height: 32px;
  stroke: #cdb876 ;
  stroke-width: 1px;
  transition: stroke 0.3s ease;
  cursor: pointer;
}
.social-link:hover svg {
  stroke: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  margin-inline: auto;
  width: 90%;
}

.footer-element {
  display: flex;
  gap: 20px;
}

.footer-copyright {
  color: #797b78;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-section-title {
  color: #cdb876;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  color: #797b78;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links li:hover{
  color: #cdb876;
}

.newsletter{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .villa-container,
  .company-container,
  .contact-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .services-grid,
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .stats {
    gap: 20px;
  }

  .villa-features {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }

  .hero-content h1 {
    font-size: 24px;
  }

  .services,
  .projects,
  .featured-villa,
  .company,
  .contact,
  .map-section {
    padding: 40px 0;
  }
}
